.container {
  margin: 0 auto;
  width: 70%;
}

nav, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
}

nav {
  display: flex;
  flex-direction: column;
}

nav > a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  nav { flex-direction: row; }
}

time {
  color: #999;
}

code {
  display: flex;
  margin: 20px;
  padding: 10px;
  background-color: #ccc;
}
